@import '../Vars.scss';

.Layout {

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3em;
      color: $mainColor;
      font-weight: 500;

      i {
         margin: 0 .58em;
         font-size: 1.25em;
         &:hover {
            cursor: pointer;
         }
      }

      &__separator {
         height: 3em;
      }
   }

   header {
      height: 3em;
      border-bottom: 1px solid rgba(0, 0, 0, .8);
      position: fixed;
      width: 100%;
      background-color: #FFF;
      z-index: 100;
   }
   &__navBar {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 3em;
      text-align: center;
      background-color: #FFF;
      &__icons {
         display: flex;
         align-items: center;
         justify-content: center;
         height: 100%;
         
         &-cart {
            position: relative;
         }
         &-cartCount {
            position: absolute;
            top: -10px;
            right: 35%;
            background-color: $mainColor;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .8em;
            color: white;
         }
         h4 {
            margin: .25em auto auto auto;
            font-weight: 400;
            font-size: .9em;
            color: rgba(0, 0, 0, .54);
         }

         i {
            color: rgba(0, 0, 0, .54);
            font-size: 1.2em;
            margin: 0 3.5em;
   
         }
      }

      &__separator {
         height: 3em;
      }
   }
}