@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.wrapper {
   width:95% ;
   margin: 0 auto;
}

.container {
   width: 500px; 
   margin: 0 auto;
}

$mainColor: #f17da4;
$secondaryColor : #e91e63;
$mainColorDarker: #f06292